
.title{
  /* display: flex;
  flex-direction: column;
  height: 100vh; */
  /* padding: var(--padding-size); */
  background-color: var(--color-main);

  background-image: url(./../images/bg-images/bg-title-mb.png);
  /* background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;  */

  color: #FFFFFF;
}
.title .btn{
  align-self: center;
  margin-top: auto;
}
.title__header{
  margin-top: calc(var(--padding-size)*2);
}
.logo{
  width: 50px;
  height: 50px;
}
.title__article p{
  margin-top: var(--padding-size);
  font-weight: 700;
}
.title__article p+p{
  margin-top: 0;
}
.title__heading{
  margin-top: calc(var(--padding-size)*3);
  line-height: 1.23em;
}

@media (min-width: 576px){
  .title{
    min-height: 600px;
    background-image: url(./../images/bg-images/bg-title-dt.png);
    background-position: right bottom;
  }
}
@media (min-width: 992px){
  .title{
    min-height: 100vh;

  }
  .title__header{
    margin-top: var(--padding-size);
    margin-left: calc(var(--padding-size)*1.66);

  }
  .title__article{
    margin-left: calc(var(--padding-size)*23);

  }
  .title__heading{
    font-size: 2.6rem;
    max-width: calc(var(--padding-size)*44.6);
    max-height: calc(var(--padding-size)*12.6);

  }
  .title__article p{
  max-width: calc(var(--padding-size)*40);
}

  .title__article p:first-of-type{

    line-height: 2.2rem;

  }
  .title__article p+p{

    line-height: 1.75rem;
     }

  .title .btn{
    align-self: start;
    margin-top: calc(var(--padding-size)*9.2);
    margin-left: calc(var(--padding-size)*23);

  }
}